<div class="section">
  <div class="container">
    <div class="content is-medium is-narrow">
      <p>
        <strong>Name:</strong>
        <%= @team.name %>
      </p>
      <div>
        <%= @team.user_ids %>
      </div>
      <div>
      </div>
      <div>


      </div>





      <%= link_to 'Edit', edit_team_path(@team) %> |
      <%= link_to 'Back', teams_path %>
    </div>
  </div>
</div>