<h1>Editing License</h1>

<%= render 'form', license: @license %>
<div class="section">
  <div class="container">
    <div class="content is-medium is-narrow">
      <%= link_to 'Show', @license , class: "button is-outlined is-primary"%>
      <%= link_to 'Back', licenses_path , class: "button is-outlined is-link"%>
    </div>
  </div>
</div>